*{
    padding: 0;
    margin:0;
}

.contenedor{
    min-height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    position: absolute;

}
.btn::before{
    content: 'Pasa por encima';
}

.btn:hover{
    color: white;
    background-color: green;
}

.btn:hover::before{
    content: "¡Hecho!";
}

